<div class="col-lg-<?php echo $span;?> col-md-<?php echo $span;?> col-sm-<?php echo ($cols > 2 && $cols % 2 == 0) ? $span * 2 : $span; ?> col-xs-<?php echo $mini;?> _item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?> product-col <?php if($layout_mode !='grid'){ echo "col-fullwidth";} ?> ">
<div class="wrap-item">
    <div class="product-block">
            <?php
            if(isset($enable_deals) && $enable_deals){
                    // Get the Discount
                    $save_price = (float)$_product->getPrice() - (float)$_product->getSpecialPrice();
                    $discount = round(($save_price/$_product->getPrice())*100);
                    $discount_string = "<strong>".$discount."</strong>%";
            }
            ?>
            <?php
                $swap_class = "";
                $productId = $_product->getId();
                if($swap_image && $hover_image = $helper->getProductImage($_product->getId(), $swap_image_number, $list_image_width, $list_image_height)) {
                        $swap_class = "swap";
                 } 
            ?>
                     <div class="top-buttons">                       

                        <div class="action">
                        <?php if($show_addcart): ?>
                            <div class="cart">
                                <?php if($_product->isSaleable()): ?>
                                    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn button btn-shopping-cart btn-outline" onclick="<?php if($ajax_cart) { ?>addToCart('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } else { ?>setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span> </button>
                                    <?php else: ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?> 
                            </div>
                        <?php endif; ?>

                        <?php if($show_compare_wishlist): ?>
                            <ul class="add-to-links">
                                <li class="link-wishlist">
                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                        <a class="wishlist" title="<?php echo $this->__('Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" ><?php echo $this->__('Wishlist') ?></a>
                                    <?php endif; ?>
                                </li>

                                <li class="link-compare">
                                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                        <a class="compare" title="<?php echo $this->__('Compare') ?>" href="<?php echo $_compareUrl ?>"><?php echo $this->__('Compare') ?></a>
                                    <?php endif; ?>
                                </li>
                            </ul>
                        <?php endif; ?>
                        
                        </div>
                      
                    </div>
                    
                    <div class="image-product <?php echo $swap_class; ?>">
                        <div class="image">
                        <?php  //Sale Icon ?>
                            <?php 
                            if($enable_sale_icon) {
                                // Get the Special Price
                                $_product2 = Mage::getModel('catalog/product')->load($productId);

                                $specialprice = $_product2->getSpecialPrice(); 
                                // Get the Special Price FROM date
                                $specialPriceFromDate = $_product2->getSpecialFromDate();
                                // Get the Special Price TO date
                                $specialPriceToDate = $_product2->getSpecialToDate();
                                // Get Current date
                                $today =  time();
                             
                                if ($specialprice) {
                                    if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) {
                            ?>
                                    <span class="onsale"><?php echo $discount_string;?></span>
                            <?php  
                                    }
                                }
                            }
                            ?>
                            <?php // New icon ?>
                             <?php
                                if($enable_new_icon) {
                                    $is_new = Mage::helper("ves_tempcp")->checkProductIsNew( $_product );
                                    
                                    if($is_new) { ?>
                                    <span class="new-icon"><span><?php echo $this->__("New");?></span></span>
                                    <?php

                                    }
                                }
                            ?>
                           <div class="product-img img">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image img">
                                <img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($list_image_width,$list_image_height); ?>" width="<?php echo $list_image_width; ?>" height="<?php echo $list_image_height; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                <?php if($swap_image && $hover_image = $helper->getProductImage($_product->getId(), $swap_image_number, $list_image_width, $list_image_height)) { ?>
                                        <span class="hover-image">
                                            <a class="img" href="<?php echo $_product->getProductUrl(); ?>"><img src="<?php echo $hover_image; ?>" width="<?php echo $list_image_width; ?>" height="<?php echo $list_image_height; ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"></a>
                                        </span>
                                <?php } ?>
                                <div class="button-center">
                                 <?php if ($quickview) { ?>
                                    <a class="a-quickview ves-colorbox" data-placement="top" data-toggle="tooltip" data-original-title="<?php echo $this->__('Quick view') ?>" href="<?php echo Mage::helper("ves_tempcp")->getQuickviewURL( $_product->getId() ); ?>"><i class="fa fa-eye"></i> </a>
                                <?php } ?>

                                 <?php // Image Popup ?>
                                <?php if( $enable_pzoom ): ?>
                                    <?php
                                        if(!isset($_product2)) {
                                            $_product2 = Mage::getModel('catalog/product')->load($productId);
                                        }
                                    ?>
                                    <a data-placement="top" data-toggle="tooltip" data-original-title="<?php echo $this->__('Zoom') ?>" href="<?php echo $this->helper('catalog/image')->init($_product2, 'image')->resize($popup_image_width, $popup_image_height);?>" class="colorbox product-zoom" > <i class="fa fa-search-plus"></i></a>
                                <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        <div class="left">
                            
                            <?php if( $show_title ): ?>
                                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                <h3 class="product-name name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h3>
                            <?php endif; ?>

                            
                            <?php if($show_price): ?>
                                <div class="price">
                                    <?php echo $this->getPriceHtml($_product, true, $price_prefix) ?>
                                </div>
                            <?php endif; ?>

                           
                            <?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
                        </div>

                    </div>

                   

                    <?php if($layout_mode !='grid'): ?>
                    <?php endif; ?>
                    <?php // Product description ?>

                    <div class="product-meta product-shop">

                        <?php if($enable_short_desc): ?>
                            <div class="desc std">
                                <?php
                                    $product_short_desc = $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description');
                                    echo Mage::helper("ves_tempcp")->subString($product_short_desc, $desc_maxchar, "");
                                ?>
                            </div>
                        <?php endif; ?>


                         <?php if(isset($enable_deals) && $enable_deals){ ?>
                            <div class="deal_detail">
                                <?php echo Mage::helper("ves_tempcp")->getBought($_product->getSku());?>
                                <?php echo $this->__("items left");?>
                            </div>
                        <?php } ?>

                        <div class="right">
                            <?php if(isset($enable_deals) && $enable_deals){ ?>
                                <div id="item<?php echo $module; ?>countdown_<?php echo $_product->getId(); ?>" class="item-countdown"></div>
                                <script type="text/javascript">
                                jQuery(document).ready(function($){
                                        $("#item<?php echo $module; ?>countdown_<?php echo $_product->getId(); ?>").lofCountDown({
                                            formatStyle:2,
                                            TargetDate:"<?php echo date('m/d/Y G:i:s', strtotime($_product->getSpecialToDate())); ?>",
                                            DisplayFormat:"<ul><li><div><?php echo $this->__('Day');?></div>%%D%% </li><li><div><?php echo $this->__('Hours');?></div> %%H%% </li><li><div><?php echo $this->__('Mins');?></div> %%M%% </li><li><div><?php echo $this->__('Secs');?></div> %%S%% </li></ul>",
                                            FinishMessage:"<?php echo $this->__('Expired');?>",
                                        });
                                    });
                                </script>
                            <?php }?>

        
                            <div class="action">
                            <?php if($show_addcart): ?>
                                <div class="cart">
                                    <?php if($_product->isSaleable()): ?>
                                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn button btn-shopping-cart btn-outline" onclick="<?php if($ajax_cart) { ?>addToCart('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } else { ?>setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>
                                </div>
                            <?php endif; ?>                          
                            </div>

                        </div>
                            
                    </div>

        
            </div>
        </div>

</div>

    
